<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exam.Properties.Settings.ConStr" connectionString="Data Source=DESKTOP-LIPKHC7\SQLZHB;Initial Catalog=user21;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Exam.Properties.Settings.ConStr1" connectionString="Data Source=DESKTOP-TJAM0RQ\SQLEXPRESS;Initial Catalog=Plays;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>